<div class="container">
    <div class="row">
    <div class="col-md-8">
       <div class="card" style="background-color: #f1f1f2;">
           <form class="form my-2">
              <a class=" dropdown-toggle d-inline" href="#">App Search</a>
              <input type="search" class="form-control d-inline ml-2" style="width:460px;">
            </form>
          </div>
           <!-- <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-interval="10000">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-interval="2000">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>-->
                  <div id="carouselExampleSlidesOnly" class="carousel slide mt-3" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/adv1.jpg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/adv2.jpg" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/adv1.jpg" alt="Third slide">
                      </div>
                    </div>
                  </div>
                  <div class="slider-pager">
                    <a href="#main-slider" class="pager-active">0</a>
                    <a href="#main-slider">1</a>
                    <a href="#main-slider">2</a>
                    </div>
      
    </div>
    <div class="col-md-4">
        <div class="card">
            <h5 class="text-left mt-3 ml-3 text-primary">MEME BY CVK</h5>
            <div id="main-header">
              <img src="assets/cv.jpeg" style="float:left"/>
              HCL Technologies Limited is an (IT) service and consulting company headquartered in Noida, Uttar Pradesh. It is a subsidiary of HCL Enterprise. Originally a research and development division of HCL, it emerged as an independent company in 1991 when HCL entered into the software services business.
                The company has offices in 44 countries inclHCL Technologies Limited is an Indian multinational information technology (IT) service and consulting company headquartered in Noida, Uttar Pradesh. It is a subsidiary of HCL Enterprise. Originally a research and development division of HCL, it emerged as an independent company in 1991 when HCL entered into the software services business.
                The company has offices in 44 countries incl
        </div>
    </div>
  </div>
  <div class="row my-3" id="mm">
      <div class="col-sm-8">
          <div class="card">
           <div class="row">
               <div style="background-color: #004e88;width:50%;" class="p-2 text-white">Blogs</div>
             <div style="background-color: #0e68aa;width:50%;" class="p-2 text-white">In Pictures</div>
            <div style="width:710px;height:360px;overflow:auto;padding:10px;font-size: 14px;" class="p-2">
                HCL Technologies Limited is an Indian (IT) service and consulting company headquartered in Noida, Uttar Pradesh. It is a subsidiary of HCL Enterprise. Originally a research and development division of HCL, it emerged as an independent company in 1991 when HCL entered into the software services business.
                The company has offices in 44 countries including the United Kingdom, the United States, France, and Germany with a worldwide network of R&D, "innovation labs" and "delivery centers", and 147,123 employees and its customers include 250 of the Fortune 500 and 650 of the Global 2000 companies. It operates across sectors including aerospace and defense, automotive, banking, capital markets, chemical and process industries, energy and utilities, healthcare, hi-tech, industrial manufacturing, consumer goods, insurance, life sciences, manufacturing, media and entertainment, mining and natural resources, oil and gas, retail, telecom, and travel, transportation, logistics & hospitality.
                <br>
                HCL Technologies Limited is an Indian multinational information technology (IT) service and consulting company headquartered in Noida, Uttar Pradesh. It is a subsidiary of HCL Enterprise. Originally a research and development division of HCL, it emerged as an independent company in 1991 when HCL entered into the software services business.
                The company has offices in 44 countries including the United Kingdom, the United States, F  
                HCL Technologies Limited is an Indian multinational information technology (IT) service and consulting company headquartered in Noida, Uttar Pradesh. It is a subsidiary of HCL Enterprise. Originally a research and development division of HCL, it emerged as an independent company in 1991 when HCL entered into the software services business.
                The company has offices in 44 countries including the United Kingdom,              
              </div>
          </div>
        </div>
          <div class="card my-4">
             <div class="row">
                 <div style="width: 50%;border-right: 1px solid wheat;">
                    <h6 style="background-color: #0e68aa;padding:8px;color:white">WHATS NEW</h6>
                    <p class="main-com">HCL Technologies Limited is an Indian multinational information technology (IT).</p>
                    <p class="main-com1"> Initially floated as Microcomp Limited, Nadar and his team started selling teledigital calculators to gather capital for their main product.Nadar and his team started selling teledigit..</p>
                    
                </div>
                <div style="width: 50%;">
                    <h6 style="background-color: #0e68aa;padding:8px;color:white">IJP AND REFERRALS</h6>
                    <p class="main-com">In 1976, a group of six engineers, all former employees</p>
                    <p class="main-com1"> Initially floated as Microcomp Limited, Nadar and his team started selling teledigital calculators to gather capital for their main product.Nadar and his team started selling teledigital.</p>
                    
                </div>
              </div>
           </div>
        </div>
          <div class="col-md-4">
            <div class="card p-3">
              <h5 class="text-left">Discover News</h5>
              <div style="width:260px;height:260px;overflow:auto;padding:10px;border-top:1px solid wheat;font-size: 14px;" class="p-2">
                  <img src="assets/side-image.png"/> 
                  HCL Technologies Limited is an Indian multinational information technology.

              </div>
              <h5 class="text-left pt-4">Inspring Stories</h5>
              <div style="width:260px;height:260px;padding:10px;border-top:1px solid wheat;font-size: 14px;" class="p-2">
                <img src="assets/side-image.png"/> 
            </div>
            </div> 
          
         </div>
    </div>
</div>
